In [1]:
# import libraries
import pandas as pd
from sklearn.neighbors import NearestNeighbors

In [2]:
# read the data
movies_df = pd.read_csv('https://github.com/ArinB/CA05-kNN/raw/master/movies_recommendation_data.csv')

In [3]:
# show the first 5 rows of the dataframe
movies_df.head()

,Movie ID,Movie Name,IMDB Rating,Biography,Drama,Thriller,Comedy,Crime,Mystery,History,Label
0,58,The Imitation Game,8.0,1,1,1,0,0,0,0,0
1,8,Ex Machina,7.7,0,1,0,0,0,1,0,0
2,46,A Beautiful Mind,8.2,1,1,0,0,0,0,0,0
3,62,Good Will Hunting,8.3,0,1,0,0,0,0,0,0
4,97,Forrest Gump,8.8,0,1,0,0,0,0,0,0

In [4]:
# show the number of rows and columns
movies_df.shape

(30, 11)

In [5]:
# drop the label column
movies_df = movies_df.drop('Label', axis =1)
movies_df.head()

,Movie ID,Movie Name,IMDB Rating,Biography,Drama,Thriller,Comedy,Crime,Mystery,History
0,58,The Imitation Game,8.0,1,1,1,0,0,0,0
1,8,Ex Machina,7.7,0,1,0,0,0,1,0
2,46,A Beautiful Mind,8.2,1,1,0,0,0,0,0
3,62,Good Will Hunting,8.3,0,1,0,0,0,0,0
4,97,Forrest Gump,8.8,0,1,0,0,0,0,0

In [6]:
# get movie names for future reference
movie_names = movies_df[['Movie ID', 'Movie Name']]
movie_names.head()

   Movie ID          Movie Name
0        58  The Imitation Game
1         8          Ex Machina
2        46    A Beautiful Mind
3        62   Good Will Hunting
4        97        Forrest Gump

In [7]:
# get the data for predictions
movies_data = movies_df.iloc[:, 2:10]
movies_data.head()

   IMDB Rating  Biography  Drama  Thriller  Comedy  Crime  Mystery  History
0          8.0          1      1         1       0      0        0        0
1          7.7          0      1         0       0      0        1        0
2          8.2          1      1         0       0      0        0        0
3          8.3          0      1         0       0      0        0        0
4          8.8          0      1         0       0      0        0        0

# Building a recommender system

In [8]:
# create the values for the movie The Post
the_post = [7.2, 1, 1, 0, 0, 0, 0, 1]

In [9]:
# create and fit the model, specify the number of neighbors
neigh = NearestNeighbors(n_neighbors = 5)
neigh.fit(movies_data)

NearestNeighbors()

In [10]:
# print 5 similar movies to 'The Post'
print('You might like these movies:')
print()
for index in neigh.kneighbors([the_post])[1][0]:
  print(movie_names.iloc[index,1])
print()
print("Don't forget your popcorn!")

You might like these movies:

12 Years a Slave
Hacksaw Ridge
Queen of Katwe
The Wind Rises
A Beautiful Mind

Don't forget your popcorn!

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but NearestNeighbors was fitted with feature names
  "X does not have valid feature names, but"